[Desktop Entry]
Name=Notes
GenericName=Open Note Selector
Exec=/home/mx-vu/Scripts/rofi-notes.sh GhiChu/Notes
Icon=nvim
Type=Application
StartupNotify=true
Categories=Office;WordProcessor;
