[Desktop Entry]
Name=Timer
GenericName=Simple timer; usage: 3m luoc trung
Exec=/home/mx-vu/Scripts/rofi-timer.sh

#Exec=/home/mx-vu/Scripts/rofi-notes.sh GhiChu/Notes
Icon=nvim
Type=Application
StartupNotify=true
Categories=Other;
